<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Rejoignez-nous</h1>

            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">Documentation - API</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <!-- WELCOME -->
        <article>
            <h2>Nos APIs</h2>
            <p>Deux Apis sont acessibles sur notre site. 
            <ul>
            <li>Les Apis pour publier vos données sur nos serveurs</li>
            <li>Les Apis pour récupérer toutes les données stockées sur la plateforme (données énergie, bâtiment, ...)</li>
            </ul>
            </p>
            <p>Les guides pas à pas téléchargeables ci-après vous permettront de comprendre comment utiliser nos APIs.</p>
        </article>
        <!-- WELCOME -->
        <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>
    </section>

    <!-- 3COLUMNS-->
    <section class="container">
        <div class="row text-center">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <a href="#"><i class="fa fa  fa-file-text-o"></i></a>
                        <div class="item-box-desc">
                            <h4>API entrantes</h4>
                            <p>Vous souhaitez pousser vos données sur la plateforme. Suivez les instructions contenu dans le document.</p>
                            <a href="#"><button type="button" class="btn btn-primary btn-lg">Lire le document</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <a href="#"><i class="fa fa  fa-file-text"></i></a>
                        <div class="item-box-desc">
                            <h4>API sortantes</h4>
                            <p>Vous voulez utiliser les données OPENRJ. Suivez les instructions contenu dans ce document-ci.</p>
                            <a href="#"><button type="button" class="btn btn-primary btn-lg">Lire le document</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>


        </div>
    </section>
    <!--/3COLUMNS-->
</div>
<!-- /WRAPPER -->