<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
        <!--
            Enable only if bright background image used
            <span class="overlay"></span>
        -->

        <div class="container">
            <h1>FAQ</h1>

            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">FAQ</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <h2><strong>F</strong>oire <strong>A</strong>ux <strong>Q</strong>uestions</h2>

        <p class="lead">Cette FAQ a été réalisée à partir des questions fréquemment posées. Si jamais certaines informations dont vous pourriez avoir besoin sont manquantes, n'hésitez pas <a href="/contact">à nous contacter</a>. Nous ajouterons votre question dans cette section.</p>

        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        <div class="toogle toogle-accordion">

            <div class="toggle">
                <label>Comment puis-je télécharger des données ?</label>
                <div class="toggle-content">
                    <p>La plateforme OPENRJ met à disposition des données de consommations énergétiques de bâtiments tertiaires. Les données comprennent : les mesures de consommations, les méta-données de ces données (unités, ...). Ces données sont liés à des sites, des bâtiments pour lesquels vous pouvez obtenir des informations (année de construction, ...)</p>
                    <!--<a class="img-thumbnail lightbox pull-left inner" href="assets/images/demo/test_2.jpg" data-plugin-options='{"type":"image"}'>
                        <img src="assets/images/demo/test_2_small.jpg" height="110" alt="" />
                    </a>-->
                    <p>Pour télécharger les données, deux choix s'offrent à vous :</p>
                    <p>
                        <ul class="list-icon check StyleSecondColor">
                            <li>Vous êtes développeur, rendez-vous sur la page de documentation des API.</li>
                            <li>Vous êtes un particulier et vous souhaitez simplement télécharger les données. Celles-ci sont accessibles dans la page <a href="/data-search">Rechercher des données</a>. Sélectionner les données qui vous intéressent et cliquer sur le bouton pour les télécharger au format csv (excel).</li>
                        </ul>
                    </p>

                    <!--<p class="lead padding30 text-center">Yes, Atropos can be customized very easy in many ways.</p>-->
                </div>
            </div>

            <div class="toggle">
                <label>J'ai trouvé une erreur dans un jeu de données. Que dois-je faire ?</label>
                <div class="toggle-content">
                    <p>Dans la page <a href="#">Rechercher des données</a>, vous pouvez noter les jeux de données en cliquant sur les étoiles. Si vous souhaitez nous faire remonter l'information directement, contactez-nous via <a href="/contact">le formulaire de contact</a> en sélectionnant "Validation de jeux de données" comme objet.</p>

                </div>
            </div>

            <div class="toggle">
                <label>Je voudrais participer mais est-ce que mon système de mesure est suffisant ?</label>
                <div class="toggle-content">
                    <p>La plateforme OPENRJ est capable d'accueillir les données de n'importe quel système de mesure. La preuve, nous remontons actuellement les données de 3 systèmes complétement différents.</p>
                    <ul class="list-icon check StyleSecondColor">
                        <li>GTB/GTC</li>
                        <li>Deltadore</li>
                        <li>Solution QUALISTEO</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>

            <div class="toggle">
                <label>Je voudrais participer mais je n'ai pas de système de mesure dans mon bâtiment.</label>
                <div class="toggle-content">
                    <p>Il est nécessaire de mesurer les consommations énergétiques de vos bâtiments si vous souhaitez participer au projet. N'importe quel système fonctionne.</p>
                    <p>Si vous le souhaitez, <a href="http://www.qualisteo.com/ws/">QUALISTEO, entreprise de la région PACA</a>, peut auditer vos bâtiments et vous proposer des solutions techniques de mesure, faciles à mettre en place et non intrusives.</p>
                </div>
            </div>

            <div class="toggle">
                <label>Comment mettre mes mesures au bon format ?</label>
                <div class="toggle-content">
                    <p>Vous trouverez toute la documentation nécessaire au transfert de vos données vers la plateforme OPENRJ dans la page <a href="/api">Documentation - API</a>.</p>
                    <p>Si certains points vous posent des difficultés, n'hésitez pas à <a href="/contact">nous contacter</a>.</p>

                </div>
            </div>

            <!--<div class="toggle">
                <label>Proin adipiscing porta tellus?</label>
                <div class="toggle-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                </div>
            </div>

            <div class="toggle">
                <label>Feugiat nibh adipiscing sit amet?</label>
                <div class="toggle-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                    <ul class="list-icon check StyleSecondColor">
                        <li>Nullam id dolor id</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Maecenas sed diam eget</li>
                    </ul>
                </div>
            </div>-->
        </div>

        <!-- CALLOUT -->
        <div class="bs-callout text-center nomargin-bottom">
            <h3>
                <strong>La réponse que vous recherchez</strong> ne se trouve pas sur cette page ?
            </br></br></h3>

            <!-- divider --><!--<div class="divider">
                <i class="fa fa-chevron-down"></i>
            </div>-->

            <h3>
                <a href="/contact" target="_blank" class="btn btn-primary btn-lg">Contactez nous!</a>
            </h3>
        </div>
        <!-- /CALLOUT -->

    </section>

</div>
<!-- /WRAPPER -->

<script type="text/javascript" src="/plugins/jquery-2.0.3.min.js"></script>
