<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Rejoignez-nous</h1>

            <ul class="breadcrumb">
                <li><a href="index.html">Accueil</a></li>
                <li class="active">Rejoignez-nous</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <!-- WELCOME -->
        <article>
            <h2>Comment publier vos données?</h2>
            <p>La plateforme OPENRJ est capable de collecter les données de n'importe quel système de mesures énergétiques connecté à internet.</p>
            <p>Vous souhaitez publier vos données ? C'est facile et gratuit. Et c'est seulement en 4 étapes !</p>
        </article>
        <!-- WELCOME -->
        <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>
    </section>

    <!-- 3COLUMNS-->
    <section class="container">
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <div class="item-box-desc">
                            <h4>MESURER SES CONSOMMATIONS</h4>
                            <p>Vous n'avez pas de système de mesure dans vos bâtiments ? Cette étape est nécessaire avant l'inscription sur notre plateforme.</p>
                            <a href="http://www.qualisteo.com/ws/"><button type="button" class="btn btn-primary btn-lg">En savoir plus</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa fa-user"></i>
                        <div class="item-box-desc">
                            <h4>S'INSCRIRE GRATUITEMENT</h4>
                            <p>Vous mesurez déjà vos données de consommations et vous souhaitez les partager au sein de la communauté ? Inscrivez-vous, c'est gratuit !</p>
                            <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Inscrivez-vous</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-cogs"></i>
                        <div class="item-box-desc">
                            <h4>METTRE SES DONNEES AU FORMAT OPENRJ</h4>
                            <p>Quelques soit votre GTB, GTC ou système de mesure, il est très simple de mettre en forme vos données. Nos recommandations sont décrites dans l'API d'import.</p>
                            <a href="/api"><button type="button" class="btn btn-primary btn-lg">Découvrir les APIs</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-cloud-upload"></i>
                        <div class="item-box-desc">
                            <h4>ENVOYER LES DONNEES</h4>
                            <p>Une fois inscrit, nous vous enverrons toutes les informations pour que vous puissiez pousser vos données sur nos serveurs.</p>
                            <a href="/signin"><button type="button" class="btn btn-primary btn-lg">Envoyer vos données</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

        </div>
    </section>
    <!--/3COLUMNS-->
</div>
<!-- /WRAPPER -->