<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Rejoignez-nous</h1>

            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">L'Open Data c'est quoi ?</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <!-- WELCOME -->
        <article>
            <h2>L'Open Data c'est quoi ?</h2>
            <p style="text-align:justify">Le mouvement « Open Data » (ou « données ouvertes ») est une démarche de publication de données numériques en ligne selon une série de dix critères garantissant leur libre accès et réutilisation par tous.

        Ainsi, une donnée brute est dite ouverte si elle est publiée de manière: Complète, Primaire, Opportune, Accessible, Exploitable, Non-Discriminatoire, Non-Propriétaire, Libre de droits, Permanente, et Gratuite.

        Cette démarche de publication concerne tous types de détenteurs de données (entreprises, associations, organismes publics) et notamment les collectivités publiques.</p>
        </article>
        <!-- WELCOME -->
        <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>
    </section>


    <!-- ONE NATION -->
    <section class="container">
        <div class="row">

            <!-- video -->
            <div class="col-md-7">
                <video src="https://www.youtube.com/watch?v=aHxv_2BMJfw" height="100%" width="100%" frameborder="0"></video>
            </div>
            <!-- /video -->

            <!-- video description -->
            <div class="col-md-5">
                <!--<h2>C'est quoi ?</h2>-->
                <p align="justify">Notre plateforme OPENRJ collecte les données énergétiques des bâtiments et certaines données structurelles et environnementales. Ces données constituent un patrimoine immatériel qui peut être mis en valeur par et pour un ensemble d’acteurs :</p>
                <ul>
                    <li>Les citoyens et journalistes peuvent trouver des informations</li>
                    <li>Les chercheurs peuvent alimenter des études et travaux</li>
                    <li>Les développeurs peuvent créer des services innovants utilisant ces données</li>
                    <li>Les entreprises peuvent inventer des services à valeur ajoutée autour des données</li>
                </ul>
                <p align="justify">L’ouverture des données est donc un gage de lisibilité et un facteur d’innovation basés sur l’ouverture, la participation et la coproduction.</p>  
            </div>
            <!-- /video description -->

        </div>
	
		<div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>
		    <!-- CALLOUT -->
    <div class="container">
        <div class="row bs-callout">
            <div class="col-md-8 text-center">
                <h4 class="padding20">Toutes les données présentes sur cette plateforme sont sous licence<strong> ETALAB</strong>.</h4>
            </div>
            <div class="col-md-4 padding10" align="center">
            
                <a href="#"><button type="button" class="btn btn-primary btn-lg">Télécharger la licence Etalab</button></a>

            </div>
        </div>
    </div>
    <!-- /CALLOUT -->
	
	<div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>
    </section>

    <!-- 3COLUMNS-->
    <section class="container">
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa fa-mail-forward"></i>
                        <div class="item-box-desc">
                            <h4>PARTAGER SES CONSOMMATIONS</h4>
                            <p>Vous êtes un organisme public, une entreprise, vous mesurez vos données de consommations et vous souhaitez les partager au sein de la communauté ? Inscrivez-vous, c'est gratuit !</p>
                            <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Inscrivez-vous</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-cogs"></i>
                        <div class="item-box-desc">
                            <h4>METTRE SES DONNEES AU FORMAT OPENRJ</h4>
                            <p>Quel que soit votre GTB, GTC ou système de mesure, il est très simple de mettre en forme vos données. Nos recommandations sont décrites dans l'API d'import.</p>
                            <a href="/api"><button type="button" class="btn btn-primary btn-lg">Découvrir les API</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-trophy"></i>
                        <div class="item-box-desc">
                            <h4>ENVOYER LES DONNES SUR NOS SERVEURS</h4>
                            <p>Une fois inscrit et vos données mises en forme, nous vous enverrons toutes les informations pour que vous puissiez envoyer vos données sur nos serveurs.</p>
                            <a href="/signin"><button type="button" class="btn btn-primary btn-lg">Participer</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

        </div>
    </section>
    <!--/3COLUMNS-->
</div>
<!-- /WRAPPER -->

<script type="text/javascript" src="/plugins/jquery-2.0.3.min.js"></script>
