<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1><%= title.replace('OpeNRJ - API - ', '') %></h1>

            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li><a href="/api">Documentation - API</a></li>
                <li class="active"><%= title.replace('OpeNRJ - API - ', '') %></li>
            </ul>
        </div>
    </header>

    <section class="container">
        <h1>Récupération des informations du site</h1>

        <h2>Présentation</h2>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col width="40%" />
                <col width="20%" />
                <col width="10%" />
                <col width="30%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Autorisation</th>
                    <th>Méthode</th>
                    <th>Requête</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cette requête permet de récupérer les informations du site.</td>
                    <td>Public</td>
                    <td>GET</td>
                    <td>/v1/sites/:siteID</td>
                </tr>
            </tbody>
        </table>
       
        <div>
            <h3>Paramètre de l'URL</h2>
            <table class="table table-bordered table-striped">
                <colgroup>
                    <col width="25%" />
                    <col width="25%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Paramètre</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>:siteID</td>
                        <td>String</td>
                        <td>Identifiant unique du site.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div>
            <h3>Paramètre de la requête</h2>
            <h4>Requis</h4>
            <p>Aucun.</p>
            <h4>Optionnel</h4>
            <p>Aucun.</p>
        </div>

        <div>
            <h2>Message de succès</h2>
            <h3>Exemple de requête</h3>
            
            <pre>
            curl -i -X GET 'https://api.openrj.eu/v1/sites/test_site'

            HTTP/1.1 200 OK

            {
              "sites": [
                {
                  "description": "Ce site est un site de test et sera bientôt supprimé.",
                  "extID": "test_site",
                  "label": "Site de test",
                  "location": "64",
                  "photo": "/images/community/business-pole.jpg",
                  "public": true,
                  "id": "53bc1a1a2216051951867357",
                  "links": {
                    "variables": [
                      "53bc1a1faa0f163d46c2491c",
                      "53bc1a1faa0f163d46c2491d",
                      "53bc1a1faa0f163d46c2491e",
                      "53bc1a1faa0f163d46c2491f",
                      "53bc1a1faa0f163d46c24920",
                      "53bc1a1faa0f163d46c24921",
                      "53bc1a1faa0f163d46c24922",
                      "53bc1a1faa0f163d46c24923",
                      "53bc1a1faa0f163d46c24924",
                      "53bc1a1faa0f163d46c24925",
                      "53bc1a1faa0f163d46c24926",
                      "53bc1a1faa0f163d46c24927"
                    ],
                    "variablesExtID": [
                      "energy_aircond_3",
                      "energy_aircond_1",
                      "energy_aircond_2",
                      "energy_plugs_2",
                      "energy_plugs_3",
                      "energy_lights_3",
                      "energy_plugs_1",
                      "energy_lights_1",
                      "energy_lights_2",
                      "test1",
                      "test2",
                      "test3"
                    ]
                  }
                }
              ]
            }
            </pre>
            <h3>Détails</h3>
            <table class="table table-bordered table-striped">
                <colgroup>
                    <col width="25%" />
                    <col width="25%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Paramètre</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>sites</td>
                        <td>Array</td>
                        <td>Liste des sites de la plate-forme OpeNRJ.</td>
                    </tr>
                    <tr>
                        <td>sites[i].id</td>
                        <td>String</td>
                        <td>Identifiant du site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].extID</td>
                        <td>String</td>
                        <td>Identifiant du site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].label</td>
                        <td>String</td>
                        <td>Nom du site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].photo</td>
                        <td>String</td>
                        <td>Photo du site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].description</td>
                        <td>String</td>
                        <td>Description du site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].location</td>
                        <td>String</td>
                        <td>Localisation du site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].public</td>
                        <td>Boolean</td>
                        <td>Indice de visibilité du site. Si public est true, alors n'importe qui peut récupérer les données de ce site.</td>
                    </tr>
                    <tr>
                        <td>sites[i].links</td>
                        <td>Object</td>
                        <td>Lien vers des noeuds fils.</td>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Message d'erreur &quot;Site not found&quot;</h2>
            <h3>Exemple de requête</h3>
            
            <pre>
            curl -i -X GET 'https://api.openrj.eu/v1/sites/test_site2'

            404 Not Found

            {
                "error":"Site not found."
            }
            </pre>
            <h3>Causes</h3>
            <p>Ce site n'existe pas.</p>
        </div>
    </section>
</div>

<script type="text/javascript" src="/plugins/jquery-2.0.3.min.js"></script>