<!-- Top Bar -->
<div id="wrapper">
            
    <!-- PARALLAX -->
    <section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('/images/demo/home/ordinateur4.jpg');">
        <span class="overlay"></span>

        <div class="container">

            <div class="row">
                <!-- left content -->
                <div class="col-md-7" style="height:300px;">
                    <!--<h1>
                        </br>La plateforme <strong>open data</strong>OPENRJ
                        <span class="subtitle">Des données énergie et bâtiments libres et ouvertes</span>
                    </h1>-->
        
                    <!--<h2>Le Hackathon <strong>OPENRJ</h2>
                    <p class="lead">
                        cupiditate non provident, similique sunt in culpa qui officia desert rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusand<br />
                    </p>-->

                    <!-- Countdown -->
                    <!--<div id="countdown" class="nopadding">
                        <h3 class="nopadding nomargin">Bientôt :</h3>
                        <div class="countdown-widget nopadding" id="countdown-widget" data-time=""></div>
                    </div>-->
                    <!-- /Countdown -->

                </div>

                <!-- right image -->
                <!--<div class="col-md-5 animation_fade_in">-->
                    <!-- right image , optional -->
                </div>
            </div>
        </div>
    </section>
    <!-- PARALLAX -->

    <!-- Title -->
    <section class="container text-center">
        <h1 class="text-center">
            </br>La plateforme <strong>open data</strong> OPENRJ
            <span class="subtitle">Des données énergie et bâtiments libres et ouvertes</span>
        </h1>
        <p class="lead">OpeNRJ est une plateforme de données ouvertes autour de l’énergétique des bâtiments. Conçue au sein du projet pacalabs OPENRJ, elle engage une communauté d'organisations tertiaires à mettre à disposition de façon libre et ouverte les consommations énergétiques de leurs bâtiments. Ces données sont facilement téléchargeables et sont gratuites.</p>
    </section>
    <!-- /Title -->


    <div class="container">
        <hr class="half-margins" /><!-- hr line -->
    </div>


    <!-- ONE NATION -->
    <section class="container">
        <div class="row">

            <!-- video -->
            <div class="col-md-7">
                <iframe src="http://prezi.com/embed/xnf4vi5ankwp/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="600" height="400" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe>
            </div>
            <!-- /video -->

            <!-- video description -->
            <div class="col-md-5">
                <!--<h2>C'est quoi ?</h2>-->
                <p align="justify">L’annonce en Juillet 2012 par la Région PACA du lancement de son portail Open Data a incité les partenaires du projet OPENRJ à créer une commnauté d’organisation qui mettent à disposition gratuitement et librement les consommations énergétiques de leurs bâtiments. 

                Cette initiative se base aussi sur les besoins récurrents des acteurs de la recherche, de la construction, … de jeux de données de consommation énergétique de bâtiments, en particulier pour des phases de validation de nouveaux produits ou services. Dans la pratique, ces jeux de données se font rares, et bien souvent leur précision (granularité, estampille) n’est pas suffisante. 

                OPENRJ propose des jeux de données énergétiques de bâtiments tertiaires détaillées par poste et associées à des données structurelles du bâtiments pour permettre aux acteurs de la recherche et aux développeurs d’applications d’avoir une parfaite compréhension de l’environnement de chaque donnée.
                </p>  
            </div>
            <!-- /video description -->

        </div>
    </section>
    
    <!-- /ONE NATION -->
    
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <!-- 3COLUMNS-->
    <section class="container">
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa fa-mail-forward"></i>
                        <div class="item-box-desc">
                            <h4>NOUS REJOINDRE</h4>
                            <p>Vous êtes un organisme public, une entreprise, vous mesurez vos données de consommations énergétiques et vous souhaitez les partager au sein de la communauté ?</p>
                            <a href="/join-us"><button type="button" class="btn btn-primary btn-lg">Rejoindre</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-cogs"></i>
                        <div class="item-box-desc">
                            <h4>UTILISER LES DONNEES OPENRJ</h4>
                            <p>Vous avez des idées de services, vous êtes développeurs et vous souhaitez utiliser les données énergétiques libres de la plateforme OPENRJ ?</p>
                            <a href="/api"><button type="button" class="btn btn-primary btn-lg">Découvrir les API</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-trophy"></i>
                        <div class="item-box-desc">
                            <h4>PARTICIPER AU HACKATHON</h4>
                            <p>Vous êtes étudiants, vous avez des compétences en informatique ou tout simplement des idées de services innovants, participez au Hackathon en octobre 2014.</p>
                            <a href="/hackathon"><button type="button" class="btn btn-primary btn-lg">Participer</button></a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

        </div>
    </section>
    <!--/3COLUMNS-->

    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <!-- CALLOUT -->
    <div class="container">
        <div class="row bs-callout">
            <div class="col-md-8 text-center">
                <h3 class="padding20">Inscrivez-vous dès<strong> maintenant</strong> au Hackathon OPENRJ.</h3>
            </div>
            <div class="col-md-4 padding10" align="center">
            
                <a href="/hackathon-contact"><button type="button" class="btn btn-primary btn-lg">Je m'inscris</button></a>
                <!--<p class="nomargin">Entrez votre email</p>
                <form method="get" action="#" class="input-group">
                    <input type="text" class="form-control" name="k" id="k" value="" placeholder="E-mail Address" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </form>-->

            </div>
        </div>
    </div>
    <!-- /CALLOUT -->
</div>
<!-- /WRAPPER -->