<!-- WRAPPER -->
<div id="wrapper">
    
    <!-- PARALLAX -->
    <section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('/images/demo/home/ordinateur4.jpg');">
        <span class="overlay"></span>

        <div class="container">

            <div class="row">
                <!-- left content -->
                <div class="col-md-7 animation_fade_in">
                    <h1>
                        </br>Le Hackathon <strong>OPENRJ</strong>
                        <span class="subtitle">Développer de nouvelles applications Energie</span>
                    </h1>
        
                    <!--<h2>Le Hackathon <strong>OPENRJ</h2>
                    <p class="lead">
                        For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.<br />
                        <strong class="f13">John 3:16</strong>
                    </p>-->

                    <!-- Countdown -->
                    <div id="countdown" class="nopadding">
                        <h3 class="nopadding nomargin">Bientôt :</h3>
                        <div class="countdown-widget nopadding" id="countdown-widget" data-time=""><!-- data-time example: 31 December 2015 12:00:00 GMT --></div>
                    </div>
                    <!-- /Countdown -->

                </div>

                <!-- right image -->
                <!--<div class="col-md-5 animation_fade_in">-->
                    <!-- right image , optional -->
                </div>
            </div>
        </div>
    </section>
    <!-- PARALLAX -->

    <!-- Title -->
    <section class="container text-center">
        <!--<h1 class="text-center">
            </br>Le Hackathon <strong>OPENRJ</strong>
            <span class="subtitle">Développer de nouvelles applications Energie</span>
        </h1>-->
        <p class="lead">En octobre 2014, sur Sophia Antipolis, la plateforme OPENRJ mettra à disposition durant 48h ses données "Energie". En collaboaration avec d'autres plateformes proposant des données autour du développement durables, les participants au hach=kathon auront 48h pour développer des applications riches.</p>
    </section>
    <!-- /Title -->


    <div class="container">
        <hr class="half-margins" /><!-- hr line -->
    </div>


    <!-- ONE NATION -->
    <section class="container">
        <div class="row">

            <!-- video -->
            <div class="col-md-7">
                <iframe src="http://player.vimeo.com/video/12554343" width="800" height="450"></iframe>
            </div>
            <!-- /video -->

            <!-- video description -->
            <div class="col-md-5">
                <h2>C'est quoi ?</h2>
                <p align="justify">Organisé en collaboration avec <a href="http://www.telecom-valley.fr/">Telecom Valley</a> et <a href="http://www.nicecotedazur.org/">NCA</a>, l'objectif de ce hackathon est de réunir toutes les compétences requises pour créer des applications utilisant des données liées au développement durable et à l'énergie : créer de nouveaux outils pour aider les gestionnaires de bâtiments, améliorer la vision des consommations énergétiques, favoriser la compréhension des données en les enrichissant
                Vous êtes développeur ? Designer ? Ou avez simplement une idée révolutionnaire, alors <a href="/hackathon-contact">inscrivez-vous maintenant</a> pour créer les applications <strong>de demain</strong>.</p>  
            </div>
            <!-- /video description -->

        </div>
    </section>
    
    <!-- /ONE NATION -->
    
    <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
    </div>
    
    <!-- 2 NATION -->
    <section class="container">
        <div class="row">

            <!-- video -->
            <div class="col-md-7">
                <!--<iframe src="http://player.vimeo.com/video/12554343" width="800" height="450"></iframe>-->
                <!--<img alt="" class="img-responsive" src="assets/images/demo/home/church_thumb_1.jpg" width="800" height="450" />-->
                <div id="gmap"><!-- google map --></div>
                    <script type="text/javascript">
                        var $googlemap_latitude     = 43.6732936,
                            $googlemap_longitude    = 6.8782122,
                            $googlemap_zoom         = 5;
                    </script>
            </div>
            <!-- /video -->

            <!-- video description -->
            <div class="col-md-5">
                <h2>C'est où ? C'est quand ?</h2>
                
                <p align="justify">Le hackahton aura lieu en Octobre 2014. La date définitive ainsi que le lieu définitif seront annoncés en août 2014.</p>  
            </div>
            <!-- /video description -->

        </div>
    </section>
    
    <!-- /2 NATION -->

    <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
    </div>

    <!-- 3COLUMNS-->
    <section class="container">
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-thumbs-up"></i>
                        <div class="item-box-desc">
                            <h4>Créer des applications utiles</h4>
                            <p>Vous avez des idées, des compétences ? Nous mettons à votre disposition des données ouvertes poru que puisse émerger vos idées.</p>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-sort-alpha-desc"></i>
                        <div class="item-box-desc">
                            <h4>Démontrer vos compétences</h4>
                            <p>Duis mollis, est non commodo luctus, nis erat po rttitor lig nec elit.Cras m attis consectetur purus sit amet, , eget lacinia odio sem noiuodiuoid.</p>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- item -->
                <div class="item-box">
                    <div class="featured-box nobg">
                        <i class="fa fa-trophy"></i>
                        <div class="item-box-desc">
                            <h4>Gagner des prix</h4>
                            <p>Plusieurs prix, d'une valeur total de 3000 euros, récompenseront les équipes ayant conçues les applications gagnantes.</p>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>

        </div>
    </section>
    <!--/3COLUMNS-->

    <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
    </div>

    <!-- CALLOUT -->
    <div class="container">
        <div class="row bs-callout">
            <div class="col-md-8 text-center">
                <h3 class="padding20">Inscrivez-vous <strong>maintenant</strong> au Hackathon OPENRJ.</h3>
            </div>
            <div class="col-md-4 padding10" align="center">
            
                <a href="/hackathon-contact"><button type="button" class="btn btn-primary btn-lg">Je m'inscris</button></a>
                <!--<p class="nomargin">Entrez votre email</p>
                <form method="get" action="#" class="input-group">
                    <input type="text" class="form-control" name="k" id="k" value="" placeholder="E-mail Address" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </form>-->

            </div>
        </div>
    </div>
    <!-- /CALLOUT -->



    <!-- PARTNERS -->
    <!--<section class="container">

        <div class="owl-carousel" data-plugin-options='{"items": 5, "singleItem": false, "autoPlay": true, "navigation": false, "pagination": false}'>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/1.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/2.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/3.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/4.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/5.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/6.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/7.jpg" alt="">
            </div>
            <div>
                <img class="img-responsive" src="assets/images/demo/brands/8.jpg" alt="">
            </div>
        </div>

    </section>-->
    <!-- /PARTNERS -->

</div>
<!-- /WRAPPER -->