<header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="/">
            <img src="/images/logo.png" alt="OpeNRJ" />
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                    <li>
                        <a href="/">
                            Accueil <i class="fa"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            A propos <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/about-the-project"><i class="fa fa-star-o"></i> Le projet OpeNRJ</a></li>
                            <li><a href="/about-us"><i class="fa fa-star-o"></i> Les partenaires du projet</a></li>
                            <li><a href="/about-community"><i class="fa fa-star-o"></i> La communauté OpeNRJ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            Nous rejoindre <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/open-data"><i class="fa fa-star-o"></i>L'Open Data c'est quoi ?</a></li>
                            <li><a href="/join-us"><i class="fa fa-star-o"></i>Comment nous rejoindre?</a></li>
                            <li><a href="/faq"><i class="fa fa-star-o"></i>FAQ</a></li>
                            <li><a href="/api"><i class="fa fa-star-o"></i>Documentation - API</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            Les donnees <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/data-search"><i class="fa fa-star-o"></i>Rechercher des données</a></li>
                            <li><a href="/data-usage"><i class="fa fa-star-o"></i>Comment les utiliser</a></li>
                            <li><a href="/ifc"><i class="fa fa-star-o"></i>les IFC</a></li>
                            <li><a href="/ifc-documentation"><i class="fa fa-star-o"></i>Documentation</a></li>
                        </ul>
                    </li>
                <!-- <li>
                        <a href="/applications">
                            Applications <i class="fa"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/hackathon">
                            Hackathon <i class="fa"></i>
                        </a>
                    </li>-->
                    <li>
                        <a href="/contact">
                            Contact <i class="fa"></i>
                        </a>
                    </li>

                    <!-- GLOBAL SEARCH -->
                    <li class="search">
                        <!-- search form -->
                        <form method="get" action="#" class="input-group pull-right">
                            <input type="text" class="form-control" name="k" id="k" value="" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-primary notransition"><i class="fa fa-search"></i></button>
                            </span>
                        </form>
                        <!-- /search form -->
                    </li>
                    <!-- /GLOBAL SEARCH -->
                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->

    </div>
</header>
<span id="header_shadow"></span>
<!-- /TOP NAV
