<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>La communauté OPENRJ</h1>

            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">La communauté OPENRJ</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <!-- WELCOME -->
        <article>
            <h2>LA COMMUNAUTE OPENRJ</h2>
            <p align="justify"> Plusieurs organisations en Région PACA, à la fois des organismes publics mais aussi des entreprises privées, ont effectué la démarche de mettre à disposition de façon libre et ouverte les données de consommations énergétiques de leurs bâtiments.</p>
        </article>
        <!-- WELCOME -->

        <!-- COMMUNITY -->
        <article class="row">
            <div class="col-md-12">
                <!--<h3>Ils nous ont rejoint</h3>-->
                <p>Voici les premières organisations qui se sont associées au projet depuis le lancement de la plateforme en mai 2014 :</p>
                <div class="row">

                    <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
                    <div>
                        <img class="img-responsive" src="/images/community/cci_logo_gris.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/images/community/cstb_logo_gris.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/images/community/biot_logo_gris.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/images/community/univ_logo_gris.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/images/community/axun_logo_gris.png" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="/images/community/mediatheque_logo_gris.png" alt="">
                    </div>
                </div>
                </div>
            </div>
        </article>
        <!-- /COMMUNITY -->
        
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>  
        
        <article class="row">
            <!-- CSTB -->
            <div class="col-md-3">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="/images/community/cstb.jpg" width="300" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Le CSTB à Sophia</h3>
                <p align="justify">Partenaire du projet, le CSTB, organisme de recherche situé à Sophia Antipolis, met à disposition sur la plateforme ses données de consommations.audantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et qu</p>
                <div class="row socials" align="center">
                    <a href="http://www.cstb.fr" target="_blank" class="btn btn-primary btn-lg">Site web</a>
                    <!--<a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>-->
                </div>
            </div>
            <!-- /CSTB -->  
            <!-- UNIV -->
            <div class="col-md-3">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="/images/community/univ.jpg" width="300" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Université de Nice</h3>
                <p align="justify">L'Université de Nice Sophia-Antipolis a souhaité s'investir dans le projet en mettant à disposition les données de consommation de plusieurs bâtiments : sur les campus de Valrose et de St Jean D'Angély à Nice.</p>
                <div class="row socials" align="center">
                    <a href="http://unice.fr/" target="_blank" class="btn btn-primary btn-lg">Site web</a>
                    <!--<a href="#" class="social fa fa-facebook"></a>
                    <a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>-->
                </div>
            </div>
        <!-- /UNIV -->
        </article>
        
        
        
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>      
        
        <article class="row">
            <!-- MEDIATHEQUE -->
            <div class="col-md-3">
                    <div>
                        <img class="img-responsive" src="/images/community/mediatheque.jpg" width="300" alt="">
                    </div>
            </div>
            <div class="col-md-3">
                <h3>Médiathèque Antibes</h3>
                <p align="justify">La Médiathèque communautaire d'Antibes, bâtiment de 4 750 m², est le pôle central du réseau des médiathèques de la Communauté d'Agglomération Sophia Antipolis. En novembre 2010, elle a été renommée Médiathèque Albert Camus.</p>
                <div class="row socials" align="center">
                    <a href="http://www.mediatheque-casa.fr/mediatheque-casa.fr/" target="_blank" class="btn btn-primary btn-lg">Site web</a>
                    <!--<a href="#" class="social fa fa-facebook"></a>
                    <a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>-->
                </div>
            </div>
            <!-- /MEDIATHEQUE -->
            <!-- AXUN -->
            <div class="col-md-3">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="/images/community/axun.jpg" width="300" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>AXUN à Sophia</h3>
                <p align="justify">o	Axun est une entreprise spécialisée dans le photovoltaïque. Elle possède une activité de négoce de kits photovoltaïques, complétée par la distribution de nouveaux produits : pompes à chaleur, caméras thermiques et portes soufflantes. Sa deuxième activité est tournée vers la production d’onduleurs, qui permettent de convertir le courant continu des panneaux photovoltaïques en courant alternatif exportable sur le réseau EDF.</p>
                <div class="row socials" align="center">
                    <a href="http://www.axun-solar.com/" target="_blank" class="btn btn-primary btn-lg">Site web</a>
                </div>
            </div>
            <!-- /AXUN -->
        </article>
        
        
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>
        
        
        <article class="row">
            <!-- BIOT -->
            <div class="col-md-3">
                    <div>
                        <img class="img-responsive" src="/images/community/biot.jpg" width="300" alt="">
                    </div>
            </div>
            <div class="col-md-3">
                <h3>La mairie de Biot</h3>
                <p align="justify">La Mairie Annexe de Biot est située dans l’espace commercial Saint-Philippe de la ville.</p>
                <div class="row socials" align="center" align="center">
                    <a href="http://www.biot.fr/" target="_blank" class="btn btn-primary btn-lg">Site web</a>
                </div>
            </div>
            <!-- /BIOT -->
            <!-- CCI -->
            <div class="col-md-3">
                    <div>
                        <img class="img-responsive" src="/images/community/cci.jpg" width="300" alt="">
                    </div>
            </div>
            <div class="col-md-3">
                <h3>La CCI de Nice</h3>
                <p align="justify">Acteur de la vie économique du département, la CCI Nice Côte d’Azur a proposé de mesurer les données de consommation du siège de ses activités : la Villa Boutau au boulevard Carabacel à Nice.</p>
                <div class="row socials" align="center">
                    <a href="http://www.cote-azur.cci.fr/" target="_blank" class="btn btn-primary btn-lg">Site web</a>
                </div>
            </div>
            <!-- /CCI -->
        </article>
        
        
    </section>

</div>
<!-- /WRAPPER -->

<script type="text/javascript" src="/plugins/jquery-2.0.3.min.js"></script>
