<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Le projet OpeNRJ</h1>

            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">Le projet OpeNRJ</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <!-- WELCOME -->
        <article>
            <h2>Le projet OpeNRJ</h2>
            <p style="text-align:justify">Depuis 2010 l’Etat, des collectivités territoriales et des administrations se sont engagés dans un movement d’ouverture des données publiques. La Région Provence-Alpes-Côte d’Azur a décidé de s’engager dans cette démarche, avec pour ambition d’offrir une plus grande transparence dans la conduite de ses politiques, de favoriser le développement de services innovants pour les entreprises de la filière numérique et les associations régionales et de permettre une meilleure connaissance du territoire. C’est dans ce contexte qu’elle a accepté de financer le projet OPENRJ.</p>
            <p class="lead" style="text-align:justify">C'est dans ce cadre que le CSTB, I3M, QUALISTEO et la CASA (Alpes maritimes, France) ont lancé le projet OpeNRJ qui vise à développer une communauté d'organisations - en Région PACA - qui mettent à disposition gratuitement et librement les consommations énergétiques en temps-réel de leurs bâtiments.</p>
        </article>
        <!-- WELCOME -->

        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>


        <!-- TEAM -->
        <article class="row">
            <div class="col-md-12">
                <h3>Qui sommes-nous ?</h3>

                <div class="row">

                    <div class="col-sm-6 col-md-3"><!-- item 1 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <img class="img-responsive" src="/images/demo/people/partenaire_cstb.jpg" width="263" height="263" alt="">
                            </figure>
                            <div class="item-box-desc">
                                <h4>CSTB</h4>
                                <small class="styleColor">Centre de recherche</small>
                                <p align="justify">Au sein du CSTB, acteur majeur de la recherche dans le domaine de la construction, l’équipe INC du CSTB Sophia Antipolis ...</p>
                                <div class="row socials">
                                    <a href="/about-us" class="btn btn-primary btn-lg">En savoir plus</a>
                                    <!--<a href="#" class="social fa fa-facebook"></a>
                                    <a href="#" class="social fa fa-facebook"></a>
                                    <a href="#" class="social fa fa-twitter"></a>
                                    <a href="#" class="social fa fa-google-plus"></a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3"><!-- item 2 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <img class="img-responsive" src="/images/demo/people/partenaire_i3m.jpg" width="263" height="263" alt="">
                            </figure>
                            <div class="item-box-desc">
                                <h4>I3M</h4>
                                <small class="styleColor">Université</small>
                                <p align="justify">Le laboratoire I3M (Informations Milieu Média Médiation) rassemble l’ensemble des chercheurs en Sciences de ...</p>
                                <div class="row socials">
                                    <a href="/about-us" class="btn btn-primary btn-lg">En savoir plus</a>
                                    <!--<a href="#" class="social fa fa-facebook"></a>
                                    <a href="#" class="social fa fa-twitter"></a>
                                    <a href="#" class="social fa fa-google-plus"></a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3"><!-- item 3 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <img class="img-responsive" src="/images/demo/people/partenaire_qualisteo.jpg" width="263" height="263" alt="">
                            </figure>
                            <div class="item-box-desc">
                                <h4>QUALISTEO</h4>
                                <small class="styleColor">PME</small>
                                <p align="justify">QUALISTEO est une PME des Alpes Maritimes spécialisée dans les systèmes de mesure et de gestion des consommations ...</p>
                                <div class="row socials">
                                    <a href="/about-us" class="btn btn-primary btn-lg">En savoir plus</a>
                                    <!--<a href="#" class="social fa fa-facebook"></a>
                                    <a href="#" class="social fa fa-twitter"></a>
                                    <a href="#" class="social fa fa-google-plus"></a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3"><!-- item 4 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <img class="img-responsive" src="/images/demo/people/partenaire_casa.jpg" width="263" height="263" alt="">
                            </figure>
                            <div class="item-box-desc">
                                <h4>CASA</h4>
                                <small class="styleColor">Territoire</small>
                                <p align="justify">SLa Communauté d’Agglomération de Sophia Antipolis développe sur son territoire un ensemble ...</p>
                                <div class="row socials">
                                    <a href="/about-us" class="btn btn-primary btn-lg">En savoir plus</a>
                                    <!--<a href="#" class="social fa fa-facebook"></a>
                                    <a href="#" class="social fa fa-twitter"></a>
                                    <a href="#" class="social fa fa-google-plus"></a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </article>
        <!-- /TEAM -->

        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>
        
        <!-- COMMUNITY -->
        <article class="row">
            <div class="col-md-12">
                <h3>Ils nous ont rejoint</h3>
                <p>Depuis le lancement de la plateforme en Mai 2014, plusieurs organisations mettent à disposition librement et gratuitement leurs données énergétiques</p>
                <div class="row">

                    <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
                    <div>
                        <a href="/about-community"><img class="img-responsive" src="/images/community/cci_logo_gris.png" alt=""></a>
                    </div>
                    <div>
                        <a href="/about-community"><img class="img-responsive" src="/images/community/cstb_logo_gris.png" alt=""></a>
                    </div>
                    <div>
                        <a href="/about-community"><img class="img-responsive" src="/images/community/biot_logo_gris.png" alt=""></a>
                    </div>
                    <div>
                        <a href="/about-community"><img class="img-responsive" src="/images/community/univ_logo_gris.png" alt=""></a>
                    </div>
                    <div>
                        <a href="/about-community"><img class="img-responsive" src="/images/community/axun_logo_gris.png" alt=""></a>
                    </div>
                    <div>
                        <a href="/about-community"><img class="img-responsive" src="/images/community/mediatheque_logo_gris.png" alt=""></a>
                    </div>
                </div>
                </div>
            </div>
        </article>
        <!-- /COMMUNITY -->
        
        <div class="divider"><!-- divider -->
			<i class="fa fa-star"></i>
		</div>
				
		<!-- FINANCEMENT -->
		<article class="row" id="financeur">
			<div class="col-md-12">
				<h3 style="text-align:center">Ce projet est financé par la région Provence Alpes Côte d'Azur</h3>
					<p style="text-align:center">Le projet OPENRJ est financé par la région PACA au sein du dispositif <a href="http://www.pole-scs.org/les-projets-collaboratifs/appels-%C3%A0-projets/paca-labs" target="_blank">PacaLabs</a>.</p>
					<div class="row" style="text-align:center">
						<div>
							<a href="http://www.regionpaca.fr/" target="_blank"><img style="display:inline" src="/images/community/regionPACA.png" alt=""></a>
						</div>
					</div>
			</div>
		</article>
		<!-- /FINANCEMENT -->

        <!--<hr />-->

            <!--<div class="owl-carousel" data-plugin-options='{"items": 5, "singleItem": false, "autoPlay": true, "navigation": false, "pagination": false}'>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/1.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/2.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/3.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/4.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/5.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/6.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/7.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="assets/images/demo/brands/8.jpg" alt="">
                </div>
            </div>-->
        
    </section>

</div>
<!-- /WRAPPER -->
