<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Les partenaires du projet OpeNRJ</h1>

            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">Les partenaires du projet OPENRJ</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <!-- WELCOME -->
        <article>
            <h2>LES PARTENAIRES DU PROJET OPENRJ</h2>
            <p> ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et </p>
        </article>
        <!-- WELCOME -->

        <!-- CSTB -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="/images/demo/people/partenaire_cstb.png" width="300" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Le CSTB</h3>
                <p align="justify">Au sein du CSTB, acteur majeur de la recherche dans le domaine de la construction, l’équipe INC du CSTB Sophia Antipolis développe un programme de R&D autour des bâtiments intelligents et des applications d’efficacité énergétique. En 2014, le CSTB a lancé en 2014 un axe de recherche sur l’ouverture des données (open data) et les aspects participatifs (Crowd Sourcing), qui révolutionnent la façon d’acquérir et d’exploiter l’information. C’est dans ce contexte et fort d’une expertise de gestion de projet que l’équipe INC a rejoint OPENRJ.</p>
                
                <!--<hr />

                <ul class="list-icon star-o">
                    <li>Fully responsive so content looks great</li>
                    <li>Awesome sliders to showcase content</li>
                    <li>Amazing shortcodes loaded with options</li>
                </ul>-->

            </div>
        </article>
        <!-- /CSTB -->
        
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>
                        
        <!-- I3M -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="/images/demo/people/partenaire_i3m.png" width="300" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>I3M</h3>
                <p align="justify">Le laboratoire I3M (Informations Milieu Média Médiation) rassemble l’ensemble des chercheurs en Sciences de l’information et de la communication des universités de Nice Sophia-Antipolis et du Sud Toulon Var. Un de ses principaux axes de recherche concerne la communication des organisations, les territoires et le développement durable et notamment les projets de médiation et de communication environnementale. C’est dans ce contexte qu’ils ont rejoint le projet OPENRJ, pour apporter leur expertise en communication auprès de la communauté et analyser les usages fait autour des données ouvertes mises en ligne sur notre plateforme.</p>
                
                <!--<hr />

                <ul class="list-icon star-o">
                    <li>Fully responsive so content looks great</li>
                    <li>Awesome sliders to showcase content</li>
                    <li>Amazing shortcodes loaded with options</li>
                </ul>-->

            </div>
        </article>
        <!-- /I3M -->
        
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>
        
        <!-- QUALISTEO -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="/images/demo/people/partenaire_qualisteo.png" width="300" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>QUALISTEO</h3>
                <p align="justify">QUALISTEO est une PME des Alpes Maritimes spécialisée dans les systèmes de mesure et de gestion des consommations électriques détaillées des bâtiments. Sa démarche est centrée sur les enjeux économiques et environnementaux associés aux Réseaux Electriques intelligents (Smart-Grids), à la Maîtrise de la Demande en électricité (MDE) et à la réduction de l’empreinte carbone. C’est dans ce contexte et fort d’une expertise de suivi des consommations des bâtiments qu’elle a rejoint le projet OPENRJ.</p>
                
                <!--<hr />

                <ul class="list-icon star-o">
                    <li>Fully responsive so content looks great</li>
                    <li>Awesome sliders to showcase content</li>
                    <li>Amazing shortcodes loaded with options</li>
                </ul>-->

            </div>
        </article>
        <!-- /QUALISTEO -->
        
        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>
        
        <!-- CASA -->
        <article class="row">
            <div class="col-md-6">
                    <div>
                        <img class="img-responsive" src="/images/demo/people/partenaire_casa.png" width="300" alt="">
                    </div>
            </div>
            <div class="col-md-6">
                <h3>La CASA</h3>
                <p align="justify">La Communauté d’Agglomération de Sophia Antipolis développe sur son territoire un ensemble d’actions dans le domaine du Développement Durable, structurées autour de cinq finalités: lutte contre le changement climatique, cohésion sociale et la solidarité entre les territoires et les générations, préservation de la biodiversité, des milieux et des ressources, épanouissement de tous les êtres humains, développement de modes de consommation et de production responsables. C’est dans ce contexte qu’elle a rejoint le projet OPENRJ, pour promouvoir l’exemplarité sur son territoire.</p>
                
                <!--<hr />

                <ul class="list-icon star-o">
                    <li>Fully responsive so content looks great</li>
                    <li>Awesome sliders to showcase content</li>
                    <li>Amazing shortcodes loaded with options</li>
                </ul>-->

            </div>
        </article>
        <!-- /CASA -->
        
    </section>

    </div>
    <!-- /WRAPPER -->

    <script type="text/javascript" src="/plugins/jquery-2.0.3.min.js"></script>